<!-------------------------------------------------------------------------------
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 -------------------------------------------------------------------------------->

<app-collapsible
  *ngIf="appFinished"
  [(appCollapsed)]="appCollapsed"
  [appTitle]="'details.considerations.title' | translate">

  <div *ngIf="((considerations$ | async)?.length > 0) || (isOfficialInCharge$ | async)"
       class="attachments--files">
    <app-attachment-display-list
      (appDownload)="downloadAttachment($event)"
      *ngIf="(considerations$ | async)?.length > 0"
      [appAttachments]="considerations$ | async"
      [appTitle]="'details.considerations.attachments' | translate"
      class="attachments--document--lists---half-size">
    </app-attachment-display-list>

    <app-attachment-file-drop-form
      *ngIf="isOfficialInCharge$ | async"
      [appFormArrayName]="'considerations'"
      [appFormGroup]="appFormGroup"
      [appTitle]="'attachments.add' | translate"
      class="attachments--container">
      <button (click)="submit()" class="openk-button openk-success"
              style="margin-left: 0.25em;">
        <mat-icon class="attachments--select-file-button--icon">publish</mat-icon>
        {{'details.considerations.upload' | translate}}
      </button>
    </app-attachment-file-drop-form>
  </div>

  <div *ngIf="!(((considerations$ | async)?.length > 0) || (isOfficialInCharge$ | async))"
       class="placeholder">
    {{"details.considerations.placeholder" | translate}}
  </div>

</app-collapsible>
