/********************************************************************************
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/

@import "openk.styles";

:host {
  width: 100%;
  padding: 1em 0.5em 0.5em 0.5em;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.form-group-container {
  flex: 0 1 calc(29em + 6px);
  display: grid;
  box-sizing: border-box;
  padding: 0 0.5em 0.5em 0.5em;
  grid-template-columns: max-content auto;
  grid-gap: 0.5em;
  margin-bottom: auto;
}

.form-group-container--sectors {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: hidden;
  font-size: small;
  column-gap: 0.25em;
  margin-top: -0.25em;
}

.form-group-container--sectors--label {
  flex: 1 1 100%;
  max-width: fit-content;
}

.form-group-container--sectors--label---italic {
  font-style: italic;
}

.form-group-container---fill {
  flex: 10 1 30em;
}

.form-group-container--label {
  display: flex;
  align-items: center;
}

.form-group-container--select {
  width: 100%;
}

.form-group-container--date {
  width: 100%;
}
