<!-------------------------------------------------------------------------------
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 -------------------------------------------------------------------------------->

<app-progress-spinner
  [class.progress-spinner---hidden]="!appLoading">
</app-progress-spinner>

<div *ngIf="appLoading && appLoadingMessage?.trim().length > 0" class="loading-message">
  {{appLoadingMessage}}
</div>

<ng-container *ngIf="!appLoading">
  <div *ngIf="appErrorMessage" class="error-message">
    <mat-icon class="error-message---icon">error</mat-icon>
    <span class="error-message---text">{{appErrorMessage | translate}}</span>
  </div>
  <ng-content></ng-content>
</ng-container>
