<!-------------------------------------------------------------------------------
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 -------------------------------------------------------------------------------->

<div [bpmnDiagram]="{xml: appWorkflowXml, currentActivities: appActivitiesToSelect}" appBpmn
     class="diagram diagram---border">

  <a *ngIf="appShowEnlargeButton" [queryParams]="{id: appStatementId}"
     class="diagram--button openk-button openk-button-rounded openk-info" routerLink="/details/bpmn" target="_blank">
    <mat-icon>call_made</mat-icon>
  </a>
</div>

