/********************************************************************************
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/

@import "openk.styles";

:host {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.email-inbox--title {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em 0.5em 1em;
  border-bottom: 1px solid $openk-form-border;
  align-items: center;
  height: 2em;
}

.email-inbox--title--text {
  font-size: larger;
  font-weight: 600;
}

.email-inbox--refresh-button {
  font-size: 0.875em;
}

.email-inbox--list {
  overflow: auto;
}

.email-inbox--list--element {
  display: block;
  width: 100%;
  padding: 0.25em 0.5em;
  border-bottom: 1px solid $openk-form-border;
  box-sizing: border-box;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  line-height: 1.25;

  &:nth-of-type(odd) {
    background: $openk-background-card;
  }

  &:hover {
    background: get-color($openk-info-palette, 100);
  }
}

.email-inbox--list--element--title {
  // font-size: large;
  font-weight: 600;
}

.email-inbox--list--element--date {
  font-size: small;
  margin: 0.25em 0.5em 0.25em 0.5em;
}

.email-inbox--list--element--sender {
  display: inline-flex;
  margin: 0.25em 0.5em 0.25em 0.5em;
}

.email-inbox--list--element--sender--text {
  font-size: small;
  margin-right: 0.25em;
}

.email-inbox--list--element--sender--column {
  display: flex;
  flex-direction: column;
}

.email-inbox--list--element---active {
  background-color: get-color($openk-info-palette, 500) !important;
  color: get-color($openk-info-palette, 500, contrast) !important;
}

.progress-spinner---hidden {
  display: block;
  font-size: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}

