/********************************************************************************
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/

@import "cursor.theme";
@import "table.theme";
@import "user-select.theme";

.highlight-bpmn:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: get-color($openk-primary-palette, A100) !important;
}

.openk-mat-icon-button.mat-icon-button {
  width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;

  mat-icon {
    width: initial;
    height: initial;
    font-size: 1em;
  }
}

.disable {
  opacity: 0.6;
  cursor: not-allowed !important;
}

.no-pointer-events {
  pointer-events: none !important;

  * {
    pointer-events: none !important;
  }
}


.openk-no-whitespace-wrap {
  white-space: nowrap;
}

.openk-left {
  text-align: left;
}

.openk-center {
  text-align: center;
}

.openk-right {
  text-align: right;
}
