/********************************************************************************
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/

// This file contains a collection of global classes for the project.
// Note that this file should only be included once as a global style file.
@import "openk.styles";
@import "primeng/primeng.theme";
@import "font/source-sans-pro.theme";
@import "material/material.theme";
@import "leaflet/leaflet.theme";
@import "misc/misc.theme";
@import "user-controls/user-controls.theme";
@import "drag/drag-drop.theme";

* {
  font-family: inherit;
}

html {
  color: get-color($openk-default-palette, 500, contrast);
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background: $openk-background;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
