<!-------------------------------------------------------------------------------
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 -------------------------------------------------------------------------------->

<app-settings-side-menu
  [appForAdmin]="isAdmin$ | async">
</app-settings-side-menu>

<app-side-menu-status
  *appSideMenu="'center'"
  [appLoadingMessage]="'core.loading' | translate"
  [appLoading]="(loading$ | async)">

</app-side-menu-status>

<ng-container *appSideMenu="'bottom'">
  <app-action-button (appClick)="submit()"
                     [appDisabled]="loading$ | async"
                     [appIcon]="'publish'"
                     class="openk-success side-menu-button">
    {{ "settings.save" | translate }}
  </app-action-button>
</ng-container>


<div class="title">
  <span class="title--label">
    {{"settings.title" | translate}} - {{"settings.textBlocks.title" | translate}}
  </span>
</div>

<app-collapsible [appTitle]="'settings.textBlocks.selects' | translate">

  <app-text-block-select-form
    [appDefaultSelectEntry]="'settings.textBlocks.default.selectEntry' | translate"
    [appDefaultSelectKey]="'settings.textBlocks.default.selectKey' | translate">
  </app-text-block-select-form>

</app-collapsible>

<app-collapsible
  *ngFor="let item of config"
  [appTitle]="item.negative ? 'Textbausteine (Negativantwort)' : 'Textbausteine'">

  <div class="text-block-container">
    <app-text-block-list-form
      (appAddTextBlockGroup)="insertTextBlockGroup($event.groupIndex + 1, item.negative)"
      (appCreateTextBlock)="insertTextBlock($event.groupIndex, $event.index + 1, item.negative); textBlockForm.focus();"
      (appDeleteTextBlock)="deleteTextBlock($event?.textBlock?.id, $event?.groupIndex, $event?.index, item.negative)"
      (appDeleteTextBlockGroup)="deleteTextBlockGroup($event.groupIndex, item.negative)"
      (appEditTextBlock)="selectTextBlock($event?.groupIndex, $event?.index, item.negative); textBlockForm.focus();"
      (appGroupNameChange)="changeGroupName($event.groupIndex, $event.groupName, item.negative)"
      (appMoveTextBlock)="moveTextBlock($event.groupIndex, $event.from, $event.to, item.negative)"
      [appConnectedTo]="textBlockForm.dropListElementIds"
      [appDisabled]="form.formGroup.disabled"
      [appReplacements]="replacements$ | async"
      [appSelectedId]="item?.selection?.control?.value?.id"
      [appTextBlockGroups]="item.negative ? form.negativeGroups.value : form.groups.value"
      class="pane">
    </app-text-block-list-form>

    <div class="pane pane---with-border">
      <app-text-block-form #textBlockForm
                           [appFormGroup]="item.selection?.control"
                           [appTextControlDefaultButtons]="defaultButtons$ | async "
                           [appTextControlReplacementButtons]="replacementButtons$ | async"
                           [appTextControlSelectButtons]="selectButtons$ | async">
      </app-text-block-form>
    </div>
  </div>

</app-collapsible>
