/********************************************************************************
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/

@import "src/styles/openk.styles";

:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.5em 0.5em 0.5em;
}

.text-block-group {
  border: 0;
}

.group-header {
  display: flex;
  flex: 1 1 auto;
  width: auto;
  align-items: center;
  justify-content: flex-end;

  color: get-color($openk-default-palette, 500, contrast);
}

.group-header--input {
  padding: 0.1em;
  width: auto;
  flex: 1 1 auto;
  box-sizing: border-box;
  overflow-x: hidden;

  &:focus {
    display: block;
    max-width: initial;
    opacity: 1;
  }
}

.group-header--button {
  margin-left: 0.25em;
}


